# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

In [2]:
import pandas as pd

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [3]:
bd = pd.read_csv('demo01.csv')
print(bd.shape) #Quantidade de linhas e colunas
bd.head(3)

(16650, 16)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False

In [4]:
#Tipo de dados de cada variável
bd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [5]:
bd.isnull().sum() #Verificando se há dados nulos

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [6]:
#Verificando a distribuição da variavel resposta
percentual = bd['mau'].value_counts(normalize = True)*100
percentual

mau
False    97.657658
True      2.342342
Name: proportion, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [7]:
colunas = bd.columns
qtdcat = []
#Criando o dataframe
teste = pd.DataFrame({
    'Coluna': colunas,
    'Tipo_Dado': [bd[col].dtype for col in colunas],
    'qtd_categorias':[bd[col].nunique() for col in colunas]
})
teste

                   Coluna Tipo_Dado  qtd_categorias
0                    sexo    object               2
1        posse_de_veiculo    object               2
2         posse_de_imovel    object               2
3              qtd_filhos     int64               8
4              tipo_renda    object               5
5                educacao    object               5
6            estado_civil    object               5
7         tipo_residencia    object               6
8                   idade   float64            5298
9           tempo_emprego   float64            3005
10         possui_celular     int64               1
11  possui_fone_comercial     int64               2
12            possui_fone     int64               2
13           possui_email     int64               2
14  qt_pessoas_residencia   float64               9
15                    mau      bool               2

In [8]:
colunas = bd.columns
qtdcat = []
#Criando o dataframe
dfcat = pd.DataFrame({
    'Coluna': colunas,
    'Tipo_Dado': [bd[col].dtype for col in colunas],
    'qtd_categorias':[bd[col].nunique() for col in colunas]
})
dfcat

                   Coluna Tipo_Dado  qtd_categorias
0                    sexo    object               2
1        posse_de_veiculo    object               2
2         posse_de_imovel    object               2
3              qtd_filhos     int64               8
4              tipo_renda    object               5
5                educacao    object               5
6            estado_civil    object               5
7         tipo_residencia    object               6
8                   idade   float64            5298
9           tempo_emprego   float64            3005
10         possui_celular     int64               1
11  possui_fone_comercial     int64               2
12            possui_fone     int64               2
13           possui_email     int64               2
14  qt_pessoas_residencia   float64               9
15                    mau      bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [9]:
bd.head(3)
#bd['estado_civil'].value_counts()
dummies = pd.get_dummies(bd,columns=['sexo', 'posse_de_veiculo','posse_de_imovel'], drop_first=True)
colunas = []
for index, row in dfcat.iterrows():
    if row.iloc[2] <= 2:
        if row.iloc[0] in ["posse_de_veiculo", "posse_de_imovel"]:
            colunas.append(row.iloc[0] + '_Y')
        else:
            if row.iloc[0] == "sexo":
                colunas.append(row.iloc[0] + '_M')
            else:
                colunas.append(row.iloc[0])

dummies = dummies[colunas]
dummies.head(3)
#bd.head(3)

,sexo_M,posse_de_veiculo_Y,posse_de_imovel_Y,possui_celular,possui_fone_comercial,possui_fone,possui_email,mau
0,True,True,True,1,0,0,0,False
1,False,False,True,1,0,1,1,False
2,False,False,True,1,0,1,1,False

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [13]:
print(pd.crosstab(dummies['possui_email'],dummies['mau'], normalize=True))
print(pd.crosstab(dummies['posse_de_veiculo_Y'],dummies['mau'], normalize=True))

mau              False     True
possui_email
0             0.889489  0.021622
1             0.087087  0.001802
mau                    False     True
posse_de_veiculo_Y
False               0.596456  0.014835
True                0.380120  0.008589

Tendo como base as tabelas cruzadas, podemos observar que entre as duas variáveis observadas, possuir um email tem mais poder sobre a variavel "mau" ao observarmos que ao ter um email a chance de ter a variavel mau = 1 é de 0.18%, e utilizando as mesmas observações para a variavel veiculo, vemos que a chance nas mesmas condições é de 0.85%

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [14]:
dummies.to_csv("dummies.csv", sep=";")